<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push">
    <mat-toolbar color="primary">
      <span>Menú</span>
      <span class="spacer"></span>
      <button mat-icon-button (click)="toggleSidenav(sidenav)">
        <mat-icon> menu </mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <a
        mat-list-item
        [routerLink]="['listado']"
        (click)="toggleSidenav(sidenav)"
      >
        <mat-icon mat-list-icon>label</mat-icon>
        Listado de Héroes
      </a>
      <a
        mat-list-item
        [routerLink]="['agregar']"
        (click)="toggleSidenav(sidenav)"
      >
        <mat-icon mat-list-icon>add</mat-icon>
        Agregar Héroe
      </a>
      <a
        mat-list-item
        [routerLink]="['buscar']"
        (click)="toggleSidenav(sidenav)"
      >
        <mat-icon mat-list-icon>search</mat-icon>
        Buscar Héroe
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-toolbar>
    <button mat-icon-button (click)="toggleSidenav(sidenav)">
      <mat-icon> menu </mat-icon>
    </button>
    <span class="spacer"></span>
    <button mat-button (click)="toggleSidenav(sidenav)">Logout</button>
  </mat-toolbar>
  <div class="container">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
