<div flexLayout="column">
  <h1>Buscador de Héroes</h1>
  <mat-divider></mat-divider>
  <mat-form-field class="example-full-width" appearance="fill">
    <mat-label>Number</mat-label>
    <input
      type="text"
      placeholder="Pick one"
      aria-label="Number"
      matInput
      [(ngModel)]="termino"
      [matAutocomplete]="auto"
    />
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option
        *ngFor="let heroe of heroes | async as heroes"
        [value]="heroe.superhero"
      >
        {{ heroe.superhero }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</div>
